/* Global styles */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    scroll-behavior: smooth;
}

body {
    background-color: #f5f5f5;
}

.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 194, 114, 0.685);
    padding: 10px 20px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
}

ul li {
    padding: 15px; 
}

ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

ul li a:hover {
    border-bottom: 2px solid #161616;
}

/* header */
.showcase {
    height: 300px;
    width: 100%;
    background-image: url(assets/showcaseBg.png);
    opacity: 0.7;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.text p, h1 {
    color: yellow;
    font-weight: bold;
}

.text p {
    font-size: 20px;
    font-weight: bold;
}

.text h1 {
    font-size: 80px;
    font-weight: bold;
}

.features {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.feature-text h2, p {
    color: black;
}

/* Menu */
.menu {
    padding: 20px;
}

.menu > h1 {
    text-align: center;
    color: black;
    font-size: 50px;
    font-weight: bold;
}
.menu-hold {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.menu-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    
}

.menu-card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.menu-card:hover {
    transform: scale(1.05);
}

/* details */
.details {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: 1000; 
    visibility: hidden; 
}


.details-card {
    width: 60%;
    height: 60%;
    background-color: rgba(199, 199, 199, 0.9); 
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 50%;
    margin-bottom: 50%;
}

.pop-up {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.pop-up img {
    margin: 20px;
    max-width: 80%;
    border-radius: 10px;
}

.pop-up-text {
    margin: 20px;
    color: white;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
}

.close-btn:hover {
    background: darkred;
}

/* Footer */
footer {
    background-color: #202a36;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    margin-top: 60px;
}

.footer-content {
    text-align: center; 
    width: 100%; 
}

.footer-content h2, .footer-content h4, .footer-content p {
    margin: 0 auto; 
    padding: 10px 0; 
}

.contact-icon {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
}

.contact-icon img:hover {
    transform: scale(1.5);
}
